vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|28 May 2005 18:25:48 -0000
vti_extenderversion:SR|4.0.2.8912
vti_cacheddtm:TX|28 May 2005 18:25:48 -0000
vti_filesize:IR|650
vti_cachedlinkinfo:VX|
vti_cachedsvcrellinks:VX|
vti_backlinkinfo:VX|
vti_syncwith_localhost\\c\:\\documents and settings\\owner\\desktop\\hekili/c\:/documents and settings/owner/desktop/hekili:TR|28 May 2005 18:25:48 -0000
