vti_encoding:SR|utf8-nl
http\://www.shadowclan.org/darkmoot/:join.htm
http\://www.shadowclan.org/darkmoot/viewforum.php:join.htm rules.htm
http\://www.uib.no/people/hnohf/qlist.htm:language.htm
http\://home.netcom.com/~heensle/lang/elvish/quenya/engquen.html:language.htm
http\://www.uib.no/people/hnohf/qcourse.htm:language.htm
http\://home.netcom.com/~heensle/lang/elvish/quenya/quen.html:language.htm
http\://www.shadowclan.org/darkmoot/viewtopic.php:join.htm rules.htm
