3.0.0.507
1008
1000,index.htm,0,The Hekili,0,1117299691,1
vti_globalpage:BW|true
1001,join.htm,0,How to Join,0,1117302770,1
vti_globalpage:BW|true
1002,rules.htm,0,Rules of Conduct,0,1117302828,1
vti_globalpage:BW|true
1004,language.htm,0,Language,0,1117304441,1
vti_globalpage:BW|true
1005,tribes.htm,0,Tribes,0,1117305398,1
vti_globalpage:BW|true
1006,http://www.shadowclan.org/darkmoot/,1,Blaah Boards,0,1117307248,1
vti_globalpage:BW|true
1007,http://guilds.camelotherald.com/guilds/guild.php?s=Mordred&g=15,1,Herald roster,0,1117307360,1
vti_globalpage:BW|true