<STYLE type="text/css"> 

body { font-family : Helvetica,Lucida, Arial,sans-serif; }

a:link {color: 3366ff; text-decoration: none}

a:visited {color: 33ccff; text-decoration: none} 

a:active {color: #3366ff; text-decoration: none} 

a:hover {text-decoration: none; color: #00ff00}

a:visited:hover {text-decoration: none; color: #ffffff}

</style>
